.btn-toggle {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}

body.dark {
    color: #fff;
    background: #333;
}
body.dark .btn-toggle {
    background: #f1f1f1;
    color: #333;
}