{% extends 'base.html.twig' %}

{% block title %}{% trans %} Homepage {% endtrans %}{% endblock %}

{% block body %}
<center>
    <header class="masthead">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">{% trans %} Welcome to this event management site {% endtrans %}</h2>
                <h3 class="section-subheading text-muted">{% trans %} It's Nice To Meet You {% endtrans %}</h3>

                {# Affiche le pseudo de l'utilisateur lorsque ce dernier est connecté #}

                {% if is_granted('ROLE_USER') %}
                    <h3 class="section-subheading text-muted">{{ app.user.getPseudo() }}</h3>
                {% endif %}
            </div>
        </div>
    </header>
    <br>
    <img src='/images/homepageS.png' width="450">
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h4 class="section-heading text-uppercase">{% trans %} Our Team {% endtrans %}</h4>
                <h5 class="section-subheading text-muted">{% trans %} We are thrid year computer science students {% endtrans %}</h5>
            </div>
            <div class="text-center">
                <div class="col-lg-6">
                    <div class="team-member">
                        <img src='/images/man.png' width="50">
                        <h4>Samuel Briand</h4>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="team-member">
                        <img src='/images/boy.png' width="50">
                        <h4>Alexis David</h4>
                    </div>
                </div>
                <div class="container">
                    <div class="text-center">
                        <h3 class="section-subheading text-muted">{% trans %} Enjoy the moment {% endtrans %} !</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</center>
{% endblock %}
